extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p Server status: #{status}

  form(action='/start')
    input(type='submit', value='Start')
  form(action='/stop')
    input(type='submit', value='Stop')
  form(action='/download')
    input(type='submit', value='Download Map')
