extends layout

block content
  h1 Upload map to server
  if error
    p Error: #{error}

  if path
    p Successfully uploaded new map
  else
    h3 Direct upload
    p Select the zip file to upload.
    form(method='post', enctype='multipart/form-data')
      input(type='file', name='map', required)
      input(type='submit', value='Upload Map')

    h3 Upload by link
    p Enter the direct download link of the zip file to upload.
    form(method='post', enctype='multipart/form-data')
      input(type='text', name='url', required)
      input(type='submit', value='Upload Map')
